<%- include ("header.ejs") %>

    <!-- Page Header -->
    <header class="masthead"
        style="background-image: url('https://media.istockphoto.com/photos/3d-word-oops-picture-id1067573454?b=1&k=20&m=1067573454&s=170667a&w=0&h=5drjEYSJeV7UwGFDdYFiJBmUAuTaZ_bkxUKUUbvowRs=')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Error 404</h1>
                        <span class="subheading">The route <span style="color:#eff3f3;">
                                <%= url %>
                            </span>does not exist. </span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <%- include ("footer.ejs") %>